<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="Description" content="ремонт стиральных машин казань">
    <meta name="Keywords" content="ремонт стиральных машин казань, ремонт стиральных машин">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ремонт стиральных машин Казань</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

</head>
