<header class="main-header">
	<nav class="main-navigation">
		<div class="main-header-logo">
				<img src="img/logo.png" width="68" height="72" alt="Логотип сервиса">
				<h3>Ремонт стиральных машин Казань</h3>
		</div>	
		<ul class="connect">
				<li class="connect-item">
					<a class="btn  btn-call" href="#">Отправить заявку</a>
				</li>
				<li class="connect-item">
					<a class="btn btn-app btn-phone" href="#">
					<img src="img/phone.png" width="25" height="25">+7 (999) 999-99-99
				</a>
			</ul>
		</nav>
</header>

<section class="appointment">
  <div class="form-wrapper">
  <h1>Быстрый ремонт стиральных машин</h1>
  <span class="where">в Казани на дому</span>
  <span class="all-marks">Всех существующих марок и видов</span>

 <form class="callback">
   <div class="c">
	   <p>
			 <input class="appointment-name" id="username" type="text" name="name" autocomplete="off" placeholder="Ваше имя" src="img/info.png" >
		   <i class="name"></i>
		 </p>
		
		 <p>
			 <input class="appointment-phone" id="phone" type="text" name="phone" autocomplete="off" placeholder="Моб.тел: (9xx) xxx-xxxx">
		   <i class="phone"></i>
		 </p>
	 </div>
	  <p class="problem-area">
			<input type="text" id="problem" name="problem" autocomplete="off" placeholder="Опишите поломку коротко (не обязательно)">
			<i class="problem"></i>
	  </p>
	 <button class="btn submit-button" type="submit">Отправить заявку</button>
 </form>
  	<span class="feedback">Оставьте заявку - Мастер перезвонит быстро!</span>
</section>

<main class="container">
<section id="how" class="how-it-works">
	<h1 class="how-we-work">Как мы работаем?</h1>
	<ul class="work-list">
		<li class="work-list-step">
			<div class="work-item">
				<div class="work-unite"><img src="img/1.png"></div>
			</div>
			<h3><span class="number">01.</span> Вы звоните или оставляете заявку</h3>
			<p class="step-description">Опытный мастер связывается с Вами и отвечает на все вопросы - это бесплатно.</p>
		</li> 
			<li class="work-list-step">
				<div class="work-item">
			  <div class="work-unite"><img src="img/2.png"></div>
			</div>
			  <h3><span class="number">02.</span> Определяемся с вероятной поломкой</h3>
			  <p class="step-description">Выслушав Вас, мастер определяет вероятную поломку и озвучивает стоимость работы.</p>
		</li>
		 <li class="work-list-step">
		 	<div class="work-item">
		   <div class="work-unite"><img src="img/3.png"></div>
		</div>
		   <h3><span class="number">03.</span> Выезд к Вам</h3>
		   <p class="step-description">Вы договариваетесь про удобное время, когда мастер может к Вам приехать и заняться ремонтом Вашем стиральной машины.</p>
		</li>
		<li class="work-list-step">
			<div class="work-item-last">
			<div class="work-unite"><img src="img/4.png"></div>
		    </div>
			<h3><span class="number">04.</span> Всё работает</h3>
			<p class="step-description for-smile">Вместе с матером проверяете работу стиральной машины, если Вас все устраивает - оплачиваете работу мастеру.</p>
		</li>
	</ul>
</section>

<section class="call-us">
	<ul class="connect-block"> 
	  <li class="connect-block-item">
			<a class="btn btn-app btn-phone btn-big" href="#">
				<img src="img/phone.png" width="42" height="42">+7 (999) 999-99-99
			</a>
		</li>
		<li class="connect-block-item">
		  <h1>Звоните!</h1>
		 	<span>Всё сделаем быстро и недорого!</span>
		</li>
	</ul>
</section> 

<section id="price" class="price-section">
	<p class="one-hour-works">Поломки,<br>которые мы устраним<br><span class="for-hour">за 1 час</span></p>
	<ul class="works">
        <li class="works-item">
          <span class="first-work-type">Вид работ</span>
          <span class="first-coast">Цена</span>
        </li>
		<li class="works-item">
		  <span class="work-type">Вызов мастера</span>
		  <span class="coast">Бесплатно</span>
		</li>
		<li class="works-item">
		  <span class="work-type">Диагностика в случае ремонта</span>
		  <span class="coast">Бесплатно</span>
		</li>
		<li class="works-item">
		  <span class="work-type">Течёт вода из-под стиральной машины</span>
		  <span class="coast">от 700р.</span>
		<li class="works-item">
		  <span class="work-type">Не работает отжим</span>
		  <span class="coast">от 800р.</span>
		</li>
		<li class="works-item">
		  <span class="work-type">Не открывается люк</span>
		  <span class="coast">от 800р.</span>
		</li>
		<li class="works-item">
		  <span class="work-type">Не набирает воду</span>
		  <span class="coast">от 700р.</span>
		</li>
		<li class="works-item">
		  <span class="work-type">Не сливает воду</span>
		  <span class="coast">от 600р.</span>
		</li>
		<li class="works-item">
		  <span class="work-type">Не греет воду</span>
		  <span class="coast">от 800р.</span>
		</li>
		<li class="works-item">
		  <span class="work-type">Не крутится барабан</span>
		  <span class="coast">от 700р.</span>
		</li>
		<li class="works-item">
		  <span class="work-type">Шумит</span>
		  <span class="coast">от 600р.</span> 
		</li>
		<li class="works-item">
		  <span class="work-type">Не работает таймер</span>
		  <span class="coast">от 950р.</span>
		</li>
</ul>
</section>

<section class="brands">
	<h1>Стиральные машины,<br>которые мы ремонтируем</h1>
	<p>
		<img src="img/brands_new.png">
		<span>...и ещё 99 брендов</span>
	</p>
</section>

<section class="repair-in-tatarstan">
	<div class="wrapper">
		<img class="i" src="img/repairs.png" height="459">
	<div class="repair-description">
	<h1>РЕМОНТ СТИРАЛЬНЫХ МАШИН В Казани</h1>
	<p class="about-repair">Вас интересует ремонт стиральной машины LG или какого-либо другого бренда? Вы заметили, что сломался сливной насос? Возможно, поврежден нагревательный элемент? Серьезные поломки вашей техники будут успешно и мобильно ликвидированы, если вы обратитесь в наш сервис по ремонту стиральных машин.
	  <p>
      Мы ремонтируем любые модели стиральных машин: AEG, Ardo, Ariston, Asko, Beko, Вosch, Candy, Daewoo, Electrolux, Indesit, Нansa, Miele, LG, Siemens, Samsung, Whirlpool, Zanussi и многих других.
		</p>
  </p>
	</div>
	</div>
</section>

<section id="trust" class="trust-us">
	<h2>Почему нам доверяют?</h2>
	<p>Мы занимаемся ремонтом бытовой техники с 2008 года. За это время мы значительно расширили клиентскую базу, завоевали доверие заказчиков, приобрели репутацию надежных исполнителей. Случилось это не благодаря рекламе. К нам регулярно обращаются, поскольку мы работаем:</p>
	<ul class="trust-list">
	  <li class="trust-list-item">
	  	<div class="for-icon">
	  		<img src="img/fast.png">
	  	</div>
	    <h2>Быстро</h2>
	  	<p class="description">
	  		Скоростные темпы ликвидации неисправности – то, чего нам удалось достичь благодаря оперативному выезду мастера на дом, наличию необходимых инструментов и комплектующих материалов.
	  	</p>
	  </li>
	  
	  <li class="trust-list-item">
	  	<div class="for-icon">
	  		<img src="img/cheap.png">
	  	</div>
	    <h2>Бюджетно</h2>
	  	  <p class="description">
	  		  Ремонт стиральных машин недорого – миссия компании. Мы устанавливаем адекватные расценки за счет того, что приобретаем расходные материалы у производителей техники, при этом не сотрудничаем с посредниками.
	  	  </p>
	  </li>
	  
	  <li class="trust-list-item">
	  	<div class="for-icon">
	  		<img src="img/garant.png">
	  	</div>
	  	<h2>Официальная гарантия</h2>
	  	<p class="description">
	  		На все виды работ вы обязательно получите гарантийный талон. Мы – легальная компания, поэтому мы не занимаемся халтурой, не оставляем клиентов в беде с неисправностями техники.
	  	</p>
	  </li>
	  
	  <li class="trust-list-item">
	  	<div class="for-icon">
	  		<img src="img/home.png">
	  	</div>
	  	<h2>На дому</h2>
	  	<p class="description">
	  		Вы вызываете специалиста – он приезжает для проведения ремонта в сжатые сроки. Это в значительной степени облегчает жизнь клиентам, экономит их средства, так как теперь нет нужды искать автомобиль с целью транспортировки в сервисный центр.
	  	</p>
	  </li>
	</ul>
</section>

<section class="facts">
	<h2>Факты о Нас</h2>
	<p class="regards">Достижения компании не остались незамеченными для постоянных клиентов.<br>Поэтому мы стремимся познакомить жителей Казани с фактами о нашем сервисном центре.<br>Обратите внимание на следующие цифры:</p>
	<ul class="facts-list">
		<li class="facts-list-item">
			<span class="number facts-number">12</span> 
			<span>Лет на рынке услуг</span>
		</li>
		<li class="facts-list-item">
			<span class="number facts-number">8423+</span>
			<span>Отремонтированных машин
		</li>
		<li class="facts-list-item">
			<span class="number facts-number">98%</span>
			<span>Довольных клиентов</span>
		</li>
	</ul>
</section>

<section class="questions">
  <div class="questions-wrapper">
		<img src="img/repairs2.png" weight="909" height="607">
		<div class="do-you-have">
		<h2>Остались вопросы?</h2>
		<p>Вам срочно понадобился мастер по ремонту стиральных машин? Считайте, что вы нашли лучшего специалиста, поскольку каждый сотрудник сервисного центра – опытный исполнитель, который знает свою работу.</p>
			<h2>РЕМОНТ СТИРАЛЬНЫХ МАШИН И НАШИ УСЛУГИ</h2>
			<p class="list">Перечень работ, выполняемых сотрудниками центра по доступным ценам, довольно обширен. Он включает в себя диагностику неисправностей и другие услуги, в числе которых:
				<ol class="work-roll">
					<li class="work-roll-item">Замена блокировки люка</li>
					<li class="work-roll-item">Ремонт модуля управления</li>
					<li class="work-roll-item">Извлечение инородных предметов</li>
					<li class="work-roll-item">Замена сливного насоса</li>
					<li class="work-roll-item">Ремонт привода</li>
					<li class="work-roll-item">Замена шланга аквастопа, температурного датчика, таймера</li>
					<li class="work-roll-item">Восстановление работы тэна, клапана залива, манжеты люка и других узлов</li>
				</ol>
			</p>
		 </div>
  </div>
</section>

<section class="work-levels">
	<h2>РЕМОНТ СТИРАЛЬНЫХ МАШИН НА ДОМУ ВКЛЮЧАЕТ В СЕБЯ НЕСКОЛЬКО ЭТАПОВ</h2>
	<span>Схема партнерства с нами предельно проста. Вот ключевые этапы взаимодействия:</span>
  	<ul class="work-steps">
	  	<li class="work-steps-item">
				<img src="img/callme.png">
				<p class="description">
					Совершаете звонок или оставляете заявку
				</p>
	  	</li>
			<li class="work-steps-item">
				<img src="img/talkme.png">
				<p class="description">
					Согласовываете детали с исполнителем
				</p>
			</li>
			<li class="work-steps-item">
				<img src="img/moneytime.png">
				<p class="description">
					Мастер по ремонту стиральных машин осуществляет диагностику, озвучивает стоимость услуги
				</p>
			</li>
	    <li class="work-steps-item">
				<img src="img/key.png">
				<p class="description">
					Специалист сервисного центра восстанавливает работу техники
				</p>
	    </li>
			<li class="work-steps-item-last">
					<img src="img/cert.png">
					<p class="description">
						После завершения услуги клиент получает гарантийный сертификат
					</p>
			</li>
	   </ul>
</section>

<section class="we-appreciate-you">
	<div class="cont">
		<div class="for-img"><img src="img/skidka.png"></div>
		<div class="we-wrapper">
		<p>Мы ценим ваше доверие и время, поэтому спектр услуг по ремонту стиральных машин на дому осуществляем срочно, надежно и на профессиональном уровне.</p>
			<p class="use">Воспользуйтесь помощью опытных мастеров компании незамедлительно, и получите желаемую скидку в размере 10%! Ждем заявок!</p>
			<button class="btn submit-button submit-last">Отправить заявку</button>
		</div>
  </div>
</section> 

</main>

<footer class="footer-callback">
	<div class="main-header-logo">
		<img src="img/logo.png" width="68" height="72" alt="Логотип сервиса">
		<h3>Ремонт стиральных 
машин Казань</h3>
	</div>
</footer>

<section  class="modal">
  <h2 class="aaa">Отправить заявку</h2>
  <form class="modal-callback formElem">
    <input class="appointment-name new"  type="text" id="name" name="name" autocomplete="off" placeholder="Ваше имя" src="img/info.png">
	  <i class="modal-name"></i>
	  <input class="appointment-phone new"  type="text" id="phone-modal" name="phone" autocomplete="off" placeholder="Моб.тел: (9xx) xxx-xxxx">
	  <i class="modal-phone"></i>
	  <button class="btn submit-button call-me" type="submit">Отправить заявку</button>
  </form>
 	<button class="btn-close" type="button">Закрыть</button>
</section>


 


